#contact {
    background: $darkViolet;
    background-image: url('/images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include breakpoints-up(large) {
        background-image: url('/images/bg-boost-desktop.svg');
    }
}


.contact {
    padding: 5.875rem 2.1125rem;


    h2 {
        font-size: 1.59rem;
        text-align: center;
        color: white;
        margin-bottom: 2rem;

        @include breakpoints-up(large) {
            font-size: 2.9rem;
        }
    }

    &__button {
        display: block;
        padding: 1rem 1.5625rem;
        background: $cyan;
        border-radius: 30px;
        text-align: center;
        width: 60%;
        margin: auto;
        transition: all 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }

        a {
            color: white;
            font-weight: 700;

            @include breakpoints-up(large) {
                font-size: 1.5rem;

            }

            &:hover {
                color: white;
            }
        }

        @include breakpoints-up(large) {

            width: 20%;
        }
    }

}

// footer
#footer {
    background: $veryDarkBlue;
}

.footer {
    text-align: center;
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;


    &__logo {
        h2 {
            margin: 0;
            color: white;
            margin-bottom: 2.875rem;
            font-size: 2.3rem;

        }
    }

    &__features,
    &__resources,
    &__company {
        margin-bottom: 3rem;



        a {
            color: white;
        }
    }

    &__features .bold,
    &__resources .bold,
    &__company .bold {
        margin-bottom: 1.6rem;


        a {
            font-weight: bold;
            font-size: 1.3rem;


        }
    }



    &__icons {
        span {
            color: white;
            font-size: 2rem;

            &:not(:last-child) {
                margin-right: 2rem;
            }

        }


    }
}