#form {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    background: repeating-linear-gradient(white, white 48.9%, rgb(235, 235, 235) 49.1%, rgb(235, 235, 235) 100%);
}

.form__wrapper {
    background-color: $darkViolet;
    background-image: url('/images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top right;
    border-radius: 10px;

}

.form {

    padding: 1.5rem;


    @include breakpoints-up(large) {
        display: flex;
        align-items: center;
    }

    &__input {
        margin-bottom: 1.1875rem;

        @include breakpoints-up(large) {
            margin-bottom: 0;
            width: 80%;
        }

        input {
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 1.1875rem;

            @include breakpoints-up(large) {
                // padding: 1.3125rem 2.625rem;
            }

        }
    }

    &__button {

        padding: 1rem 1.5625rem;
        background: $cyan;
        border: none;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        width: 100%;
        transition: all 300ms ease-in-out;

        a {
            color: #fff;


        }

        &:hover {
            opacity: 0.75;
        }

        @include breakpoints-up(large) {
            width: 20%;
            margin-left: 10px;

        }

    }

}