html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    line-height: 1.3;
    overflow-x: none;
}

ul {

    padding: 0;
    list-style-type: none;

}

a {
    text-decoration: none;
    font-size: 1rem;
}



// container 

.container {
    margin: auto;
    max-width: 1220px;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
}


// flexbox 

.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }
}

// buttons 












// screen

.hide-for-mobile {
    @include breakpoints-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoints-up(large) {
        display: none;
    }
}